<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.dominik.nkjaki">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NKJakšić">
        <activity android:name="hr.pokusMomcad.PokusMomcadActivity"></activity>
        <activity android:name="hr.pokusRezultati.PokusRezultatiActivity" />
        <activity android:name="hr.pokusRaspored.PokusRasporedActivity" />
        <activity android:name="hr.pokusVijesti.PokusVijestiActivity" />
        <activity
            android:name="hr.pokus.NajboljiStrijelciActivity"
            android:parentActivityName="hr.aktivnosti.TablicaActivity" />
        <activity
            android:name="hr.aktivnosti.NoviRezultatActivity"
            android:parentActivityName="hr.aktivnosti.RezultatiActivity" />
        <activity
            android:name="hr.aktivnosti.NoviRasporedActivity"
            android:parentActivityName="hr.aktivnosti.RasporedActivity" />
        <activity
            android:name="hr.aktivnosti.NovaVijestActivity"
            android:parentActivityName="hr.aktivnosti.VijestiActivity" />
        <activity
            android:name="hr.aktivnosti.VijestiActivity"
            android:parentActivityName="hr.MainActivity" />
        <activity
            android:name="hr.aktivnosti.TablicaActivity"
            android:parentActivityName="hr.MainActivity" />
        <activity
            android:name="hr.aktivnosti.RezultatiActivity"
            android:parentActivityName="hr.MainActivity" />
        <activity
            android:name="hr.aktivnosti.RasporedActivity"
            android:parentActivityName="hr.MainActivity" />
        <activity
            android:name="hr.aktivnosti.MomcadActivity"
            android:parentActivityName="hr.MainActivity" />
        <activity android:name="hr.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>